@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
  /* --color-primary: #F9F9F9;
  --color-secondary: #686868;
  --color-background: #141414;
  --color-background-primary: #1f1f1f;
  --color-background-secondary: #262626 neutral[800];
  --color-nav-link: #4F92F7; */
  /* --font-family-primary: 'Gilroy';
  --font-family-secondary: 'SF Pro Text';
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* --color-brand-light: #F4F4FD;
    --color-action: #4D5AE5;
    --color-brand: #2E2F42;
    --color-invert: #fff;
    --color-logo: #4D5AE5;
    --color-action-light: #E7E9FC;
    --color-logo-header: #2E2F42;
    --color-logo-footer: #F4F4FD;
    --color-footer-text: #F4F4FD;
    --color-hover-link: #404BBF;
    --color-hover-btn: #404BBF;
    --color-line: #E7E9FC;
    --color-icon-background: #4D5AE5;
    --color-icon-background-active: #31D0AA;
    --color-customers-icon: #8E8F99;
    --color-focus-input: #4D5AE5; */
/* } */
@layer base {
  @font-face {
      font-family: "Gilroy";
      font-weight: 500;
      src: local("Gilroy"),
        url("./fonts/Gilroy/Gilroy-Medium.ttf") format("truetype"),
        url('./fonts/Gilroy/Gilroy-Medium.eot') format('embedded-opentype'),
        url('./fonts/Gilroy/Gilroy-Medium.woff') format('woff'),
        url('./fonts/Gilroy/Gilroy-Medium.woff2') format('woff2')
    }
  
    @font-face {
      font-family: "Gilroy";
      font-weight: 700;
      src: local("Gilroy"),
        url("./fonts/Gilroy/Gilroy-Bold.ttf") format("truetype"),
        url('./fonts/Gilroy/Gilroy-Bold.eot') format('embedded-opentype'),
        url('./fonts/Gilroy/Gilroy-Bold.woff') format('woff'),
        url('./fonts/Gilroy/Gilroy-Bold.woff2') format('woff2')
    }
  
    @font-face {
      font-family: "SF Pro Text";
      font-weight: 600;
      src: local("SF Pro Text"),
        url("./fonts/SF-Pro-Text/SFProDisplay-Semibold.ttf") format("truetype"),
        url('./fonts/SF-Pro-Text/SFProDisplay-Semibold.eot') format('embedded-opentype'),
        url('./fonts/SF-Pro-Text/SFProDisplay-Semibold.woff') format('woff'),
        url('./fonts/SF-Pro-Text/SFProDisplay-Semibold.woff2') format('woff2')
    }
}


*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: var(--font-family-primary) sans-serif; */
  /* color: var(--color-primary); */
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--color-background); */
}

code {
  font-family: var(--font-family-primary) sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 500;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  line-height: 0;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  border-spacing: 0;
}

input {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
  }
}